<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/c256b90c-692a-4f57-80b7-322d3bf69107/resourceGroups/Desenvolvimento_Autenticacao_GR/providers/Microsoft.ApiManagement/service/AutenticacaoAPIapi/apis/AutenticacaoAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/c256b90c-692a-4f57-80b7-322d3bf69107/resourceGroups/Desenvolvimento_Autenticacao_GR/providers/Microsoft.Web/sites/cadastroapi</ResourceId>
    <ResourceGroup>Desenvolvimento_Autenticacao_GR</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cadastroapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c56793b-16f6-4401-869b-55ee4d12c4b2</ProjectGuid>
    <PublishUrl>https://cadastroapi.scm.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
  </PropertyGroup>
</Project>